.scroll-hide::-webkit-scrollbar {
  display: none;
  width: 0;
}
/*start import fonts  */

@font-face {
  font-family: iran-sans;
  src: url(../fonts/woff/IRANSansX-Medium.woff) format(woff),
    url(../fonts/woff/IRANSansX-Medium.woff2) format(woff2);
}
@font-face {
  font-family: iran-bold;
  src: url(../fonts/ttf/iranyekanwebbold.ttf) format(ttf),
    url(../fonts/woff/iranyekanwebbold.woff) format(woff);
}

/*finish import fonts  */

@theme {
  --font-iran-sans: "iran-sans";
  --font-iran-bold: "iran-bold";
}
.theme {
  @apply bg-stone-200 dark:bg-gray-900;
}
.swiper-pagination-bullet{
  width: 8px !important;
  height: 8px !important;
  transition: all .3s ease;
border: 1px solid rgb(207, 207, 207);
}
.swiper-pagination-bullet-active {
  border-color: #ff8904;
  width: 25px  !important;
  height: 8px !important;
  border-radius: 10px;
  background:#ff8904;
}
@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@media screen and (max-width: 529px) {
  .mySwiper .swiper-slide-active {
    transform: scale(1) rotate(0deg) !important;
  }

  .mySwiper .swiper-slide {
    width: 50%;
    /* background-image: url(); */
    /* transition: all .5s ease; */
  }
  .mySwiper .swiper-slide-prev {
    transform: scale(0.8) rotate(10deg) !important;
  }

  .mySwiper .swiper-slide-next {
    transform: scale(0.8) rotate(-10deg) !important;
  }
}
@media screen and (min-width: 530px) {
  .mySwiper #swiper-nav {
    display: flex;
  }

  .mySwiper .swiper-slide-active div .active {
    border: 2px solid #ff9800;
    position: relative;
    transform: translateY(-17px);
  }
  .swiper-slide-active div .active::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    z-index: -10;
    background-color: #ff9800;
  }

  .mySwiper .swiper-slide {
    width: 28%;
  }

}
@media screen and (min-width: 650px) {
  .mySwiper .swiper-slide {
    width: 23%;
  }
}
@media screen and (min-width: 768px) {
  .mySwiper .swiper-slide {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .mySwiper .swiper-slide {
    width: 28%;
  }
  .custom a:last-child{
    display: none;
  }
  .custom a:hover {
    flex-grow: 2;
  }
  .custom:hover   a:not(:hover){
    flex-grow: 0;
  }
}
@media screen and (min-width: 1280px) {
  .mySwiper .swiper-slide {
    width: 22%;
  }
}
@media screen and (min-width: 1536px) {
  .mySwiper .swiper-slide {
    width: 20%;
  }
  .custom a:last-child{
    display: flex;
  }
}


