.scroll-hide::-webkit-scrollbar{
    display: none;
    width: 0;
}
/*start import fonts  */

@font-face {
    font-family: iran-sans;
    src: url(../fonts/woff/IRANSansX-Medium.woff) format(woff),
    url(../fonts/woff/IRANSansX-Medium.woff2) format(woff2);
}
@font-face {
    font-family: iran-bold;
    src: url(../fonts/ttf/iranyekanwebbold.ttf) format(ttf),
    url(../fonts/woff/iranyekanwebbold.woff) format(woff);
}

/*finish import fonts  */

@theme {
    --font-iran-sans: "iran-sans";
    --font-iran-bold: "iran-bold";   
  }

  @custom-variant dark (&:where(.dark, .dark *));

  @import "tailwindcss";

